<div class="side-bar-header">
 <h2>運玉育成アプリへようこそ！</h2>
 <p>このアプリは、その日あった良い出来事を記録するための日記アプリです。良い出来事をどんどん貯めていくことで、幸運の種「運玉」をどんどん大きく成長させることができます。</p>
 <p>運玉の様子はマイページで見ることができます。出来事の投稿、運玉の育成にはアカウント登録が必要です。</p>
 <p>アカウント登録やログインをしなくても、公開設定になっている投稿は見ることができます。</p>
  <div class="header-name">
    <% if user_signed_in? %>
    <%= link_to "#{current_user.name}さんのマイページ", "/users/#{current_user.id}" %><br>
    <%= link_to "出来事を記録する", new_event_path %><br>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    <% else %>
    <%= link_to "ログイン", new_user_session_path, class: 'btn'%><br>
    <%= link_to '新規登録', new_user_registration_path, class: "btn" %>
    <% end %>   
  </div>
</div>
