<div class="wrapper">
  <div class="side-bar">
    <div class="show">
    <p>
      <strong>日にち</strong>
      <%= @event.day %>
    </p>
    <p>
      <strong>タイトル</strong>
      <%= @event.title %>
    </p>
    <p>
      <strong>内容</strong>
      <%= @event.text %>
    </p>
    <p>
      <strong>レベル</strong>
      <%= @event.happy_level.name %>
    </p>
    <p>
      <strong>公開/非公開</strong>
      <%= @event.public.name %>
    </p>
    <p>
      <strong>投稿者</strong>
      <%= @event.user.name %>
    </p>

    <div class="btns">
    <% if user_signed_in? && current_user.id == @event.user_id %>
    <%= link_to '編集する', edit_event_path(@event.id), class: "btn" %><br>
    <%= link_to '削除する', event_path(@event.id), method: :delete, data: {confirm: "削除してよろしいですか？"}, class: "btn" %><br>
    <% end %>  
    <%= link_to '戻る', 'javascript:history.back()', class: "btn" %>
    </div>
    </div>
  </div>

  <div class="calendar">
    <%= render "calendar" %>
  </div>
</div>